<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--查询所有-->
<mapper namespace="com.baizhi.dao.UsersDao">
    <select id="selectAll" resultType="Users">
        select * from t_Users
    </select>
<!--删除-->
    <delete id="deleteAll" >
        delete from t_Users where id=#{id}
    </delete>
    <!--查询id-->
    <select id="selectById" resultType="Users">
        select * from t_Users where id=#{id}
    </select>
    <!--修改-->
    <update id="updateAll" parameterType="Users">
        update t_Users set name=#{name} ,salary=#{salary},age=#{age} where id=#{id}
    </update>
    <!--添加-->
    <insert id="insertAll" parameterType="Users">
        insert into t_Users(name,age,salary) values (#{name},#{age},#{salary})
    </insert>
</mapper>
