<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>


    <!-- 引入properties -->
    <properties resource="jdbc.properties"/>

    <!-- 给实体类起别名 -->
    <typeAliases>
        <!-- 
			type 给那个类起别名
			alias 别名
		 -->
        <!-- <package name="com.baizhi.dd.entity"/> -->
        <typeAlias type="com.baizhi.dd.entity.Admin" alias="Admin"/>
        <typeAlias type="com.baizhi.dd.entity.Category" alias="Category"/>
        <typeAlias type="com.baizhi.dd.entity.Book" alias="Book"/>
        <typeAlias type="com.baizhi.dd.entity.Orders" alias="Orders"/>
        <typeAlias type="com.baizhi.dd.entity.Address" alias="Addr"/>
        <typeAlias type="com.baizhi.dd.entity.User" alias="User"/>
        <typeAlias type="com.baizhi.dd.entity.Item" alias="Item"/>
    </typeAliases>


    <!-- 连接相关参数 -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <!-- mapper文件的注册 -->
    <mappers>
        <mapper resource="com/baizhi/dd/mapper/AdminDaoImpl.xml"/>
        <mapper resource="com/baizhi/dd/mapper/CategoryDaoImpl.xml"/>
        <mapper resource="com/baizhi/dd/mapper/Bookmapper.xml"/>
        <mapper resource="com/baizhi/dd/mapper/Ordermapper.xml"/>
        <mapper resource="com/baizhi/dd/mapper/Usermapper.xml"/>
        <mapper resource="com/baizhi/dd/mapper/Addressmapper.xml"/>
        <mapper resource="com/baizhi/dd/mapper/Itemmapper.xml"/>
    </mappers>


</configuration>