<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.BannerMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Banner">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img_pic" jdbcType="VARCHAR" property="imgPic" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="BB">
    id, title, img_pic, status, create_date, description
  </sql>
  <!--查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="BB" />
    from banner where id=#{id}
  </select>

  <!--分页-->
  <select id="showAllByPage" resultMap="BaseResultMap">
    select
    <include refid="BB" />
    from banner
    limit  ${(page-1)*rows},#{rows}
  </select>
  <select id="selectTotalCount" resultType="Integer">
        select count(*)  from  banner
    </select>


  <!--删除数组-->
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from banner
    where id in
    <foreach  collection="array" open="(" separator="," close=")" item="id" >
      #{id}
    </foreach>
  </delete>

  <!--添加-->
  <insert id="insert" parameterType="Banner">
    insert into banner (id, title, img_pic, 
      status, create_date, description
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{imgPic,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{description,jdbcType=VARCHAR}
      )
  </insert>



  <insert id="insertSelective" parameterType="com.baizhi.entity.Banner">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imgPic != null">
        img_pic,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgPic != null">
        #{imgPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--上传修改-->
  <update id="updateByPrimaryKeySelective" parameterType="Banner">
    update banner
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgPic != null">
        img_pic = #{imgPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--修改-->
  <!--<update id="updateByPrimaryKey" parameterType="Banner">
    update banner
    set title = #{title,jdbcType=VARCHAR},
      img_pic = #{imgPic,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>-->


  <update id="updateByPrimaryKey" parameterType="Banner">
    update banner
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgPic != null">
        img_pic = #{imgPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>