<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper  namespace="com.baizhi.dd.dao.BookDao">



  	
  	<select id="BookFind" resultType="Book" >
  		select * from Book where category_id=#{id}
  	</select>
  	
  	<!-- 复用sql -->
	<sql id="sql1">
		id,name,author,cover,press,press_date as pressDate,edition,print_date as printDate,impression,isbn,word_num as wordNum,
		page_num as pageNum,sizes,paper,pack,price,dprice,create_date as createDate,editor_recommend as editorRecommend,
		content_abstract as contentAbstract,author_abstract as authorAbstract,director,media_commentary as mediaCommentary,
		category_id as categoryId,sale,stock
	</sql>
  	
  
  	<!-- 图书管理 -->
  	<select id="QueryAllBook" resultType="Book" >
  		select <include refid="sql1"/>
  		from book
  	</select>
  
 
  	<!-- 图书管理   删除 -->
  	<delete id="deleteAllbook" >
  		delete from book where id=#{id}
  	</delete>
  
  	<!-- 图书管理  添加 -->
  	<insert id="insertAllbook"  parameterType="Book">
		insert into book values(#{id},#{name,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR},#{cover,jdbcType=VARCHAR},#{press,jdbcType=VARCHAR},#{pressDate,jdbcType=DATE},#{edition,jdbcType=VARCHAR},#{printDate,jdbcType=DATE},#{impression,jdbcType=VARCHAR},#{isbn,jdbcType=VARCHAR},#{wordNum,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER},#{sizes,jdbcType=VARCHAR},
		#{paper,jdbcType=VARCHAR},#{pack,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE},#{dprice,jdbcType=DOUBLE},#{createDate,jdbcType=DATE},#{editorRecommend,jdbcType=VARCHAR},#{contentAbstract,jdbcType=VARCHAR},#{authorAbstract,jdbcType=VARCHAR},#{director,jdbcType=VARCHAR},#{mediaCommentary,jdbcType=VARCHAR},#{categoryId,jdbcType=VARCHAR},#{sale,jdbcType=INTEGER},#{stock,jdbcType=INTEGER})	
	</insert>
  
  	<!-- 模糊 -->
  	<select id="likebookAll" resultType="Book">
  		select <include refid="sql1"/>
		from book 
		<where>
			<if test="key == 'name'">
				name like '%${content}%'
			</if>
			<if test="key == 'author'">
				author like '%${content}%'
			</if>
			<if test="key == 'press'">
				press like '%${content}%'
			</if>
		</where>
  	</select>
  	
  	
  		<!-- 查询  回显 -->
  	<select id="selectbook" resultType="Book" parameterType="java.lang.String">
  		select <include refid="sql1"/> from book where id=#{id} 		
  	</select>
  	
  	
  		<!-- 修改  -->
 	<update id="updateAllbook" parameterType="Book">
  			update book set name=#{name},author=#{author},press=#{press},press_date=#{pressDate},edition=#{edition},
						print_date=#{printDate},impression=#{impression},isbn=#{isbn},word_num=#{wordNum},page_num=#{pageNum},sizes=#{sizes},
						paper=#{paper},pack=#{pack},price=#{price},dprice=#{dprice},editor_recommend=#{editorRecommend},
						content_abstract=#{contentAbstract},author_abstract=#{authorAbstract},director=#{director},media_commentary=#{mediaCommentary},
						category_id=#{categoryId},stock=#{stock}
						<if test="cover != null">,cover=#{cover}</if>
		where id=#{id}	
  	</update> 
  	
  	
  	
  		<!-- 编辑推荐查询   -->
  	<select id="recommendBook" resultType="Book" >
  		select <include refid="sql1"/>
  		from book
  	</select>
  	
  		<!-- 热销查询   -->
  	<select id="hotBook" resultType="Book" >
  		select <include refid="sql1"/>
  		from book
  	</select>
  	<!-- select b.*,rownum
		from (select <include refid="sql1"/> from book where sale!=0 order by sale desc) b
		where rownum between 1 and 8 -->
  	
  		<!-- 新书上架查询   -->
  	<select id="newBook" resultType="Book" >
  		select b.*,rownum
		from (select <include refid="sql1"/> from book order by create_date desc) b
		where rownum between 1 and 8 -->
  	</select>
  	<!-- select b.*,rownum
		from (select <include refid="sql1"/> from book order by create_date desc) b
		where rownum between 1 and 8 -->
  	
  	
  		<!-- 新书热卖查询   -->
  	<select id="hotBoardBook" resultType="Book" >
  			select b.*,rownum
		from (select <include refid="sql1"/> from book order by create_date desc,sale desc) b
		where rownum between 1 and 10
  	</select>
  	
  	
  	
  	<!-- 复用sql -->
	 <sql id="sql2">
		b.id,b.name,b.author,b.cover,b.press,b.press_date as pressDate,b.edition,b.print_date as printDate,b.impression,b.isbn,
		b.word_num as wordNum,b.page_num as pageNum,b.sizes,b.paper,b.pack,b.price,b.dprice,b.create_date as createDate,
		b.editor_recommend as editorRecommend,b.content_abstract as contentAbstract,b.author_abstract as authorAbstract,b.director,
		b.media_commentary as mediaCommentary,b.category_id as categoryId,b.sale,b.stock
	</sql>
  	<!-- 根据某个类别id查询书籍集合 分页 -->
  	<select id="selectfidsid" resultType="Book">
  			select * 
		from (
			select b.*,rownum rn from (
				select <include refid="sql2"/>
				from book b left join category c on b.category_id = c.id
				<where>
					<choose>
						<when test="sid == null || sid==''">
							c.parent_id = #{fid}
						</when>
						<otherwise>
							b.category_id = #{sid}
						</otherwise>
					</choose>
				</where>	
			) b
		)
		where rn between #{begin} and #{end}
  	</select>
  	
  	<select id="totalCount" resultType="Integer">
   		select count(b.id)
			from book b left join category c on b.category_id = c.id
			<where>
				<choose>
					<when test="sid == null || sid==''">
						c.parent_id = #{fid}
					</when>
					<otherwise>
						b.category_id = #{sid}
					</otherwise>
				</choose>
			</where>
   		
   	</select>
  	
  		<!-- 查询  回显 -->
  	<select id="selectBookQuery" resultType="Book" >
  		select <include refid="sql1"/> from book where id=#{id} 		
  	</select>
  	
  	<update id="updateBook">
		update book set sale=sale+#{count},stock=stock-#{count} where id=#{id}
	</update>
  	
  	
  	
</mapper>
