<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.DepartmentDao">
    <select id="selectAll" resultType="Department">
        select * from  t_department
    </select>
    <select id="showAll" resultType="Department">
        select * from  t_department
    </select>
    <!--添加部门-->
    <insert id="insertAll" parameterType="Department">
        insert into t_department (number,department) values (#{number},#{department})
    </insert>
    <!--查询-->
    <select id="selectById" resultType="Department">
        select * from t_department where id=#{id}
    </select>
    <!--更新修改-->
    <update id="updateAll" parameterType="Department">
        update t_department set number=#{number},department=#{department}
    </update>
</mapper>
