<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.EmployeesDao">

    <!--员工表查询所有-->
    <select id="selectAll" resultType="Employees" >
        select * from  t_employees
    </select>
    <!--删除-->
    <delete id="deleteAll" >
        delete from t_employees where id=#{id}
    </delete>
    <!--查询id-->
    <select id="selectById" resultType="Employees">
        select * from t_employees where id=#{id}
    </select>
    <!--修改-->
    <update id="updateAll" parameterType="Employees">
        update  t_employees set name=#{name},salary=#{salary},age=#{age},department=#{department}
    </update>
    <!--添加-->
    <insert id="insertAll" parameterType="Employees">
        insert into t_employees (name,salary,age,department) values (#{name},#{salary},#{age},#{department})
    </insert>
</mapper>
