<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.baizhi.dao.AdminDAO">
    <select id="selectByUserName" resultType="Admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

    <insert id="save">
        insert into admin(username,name,password,sex) values (#{username},#{name},#{password},#{sex})
    </insert>
</mapper>